{% extends 'base.html' %}

{% block content %}
<div class="banner">
  <h1 class="px-1">THE ROOFTOP RABBITRY</h1>
</div>
<div class="div-2 py-2" style="font-family: 'Mali', cursive;">
  <div class="container">
    <h1 style="text-align: center; font-family: 'Cabin Sketch', cursive; font-size: 80px; font-style: bold;" class="pt-3 pb-2">A little about us</h1>
    <p style="font-size: 20px;">Here at the Rooftop Rabbitry, we are dedicated to providing the best quality rabbits for you. We may not have a variety of breeds, but we sure have a variety of colors to choose from, i.e. Black, White, Tort, Brown.. We also have a variety of ages to choose from. We have rabbits that are ready to breed, and we have rabbits that are ready to be your family pet. We also have rabbits that are ready to be your next show rabbit. We have the Dwarf Hotots, Flemish Giants and Holland Lops. </p>
    
  </div>
</div>
<div class="div-3" style="background-color: rgb(16, 141, 26); color: white;">
  <div class="container pt-3 pb-2">
    <div class="row" style="font-family: 'Mali', cursive;">
      <div class="col-1">
        <button class="btn btn-medium" style="height: 45px; width: 45px; border-radius: 30px;">
          <i class="fa-solid fa-location-dot" style="font-size: 1.5rem; color: rgb(25, 116, 7);"></i>
        </button></div>
      <div class="ml-4 col-10">
        <h2>Valencia Society, Lahore, Pakistan.</h2>
      </div>
    </div>
  </div>
</div>
<div class="banner-3" style="color: white;">
  <div class="container">
    <div class="div-5">
      <h1 style="text-align: center; font-family: 'Cabin Sketch', cursive; font-size: 80px; font-style: bold;" class="pt-3 pb-2">What we Provide</h1>
      <div class="row">
        <div class="col-md-6 mb-2">
          <h1 style="text-align: center; font-style: bold; font-family: 'Mali', cursive;" >Rabbitry</h1>
          <p style="font-size: 20px; font-family: 'Mali', cursive;">A Rabbitry is a place where rabbits are kept and bred. Looking for a new furry friend? Come check out our rabbitry! Our rabbits are bred with care and love, and we take pride in producing healthy, happy, and well-socialized animals. Whether you're looking for a new pet or a show rabbit, we some nice breeds and colors to choose from. Click on the button below to check out our rabbits available for adoption:</p>
          <div class="container d-flex justify-content-center align-items-center"><a href="/rabbit-farm/"><button class="btn btn-large btn-outline-light">Rabbits</button></a></div>
        </div>
        <div class="col-md-6 mb-2">
          <h1 style="text-align: center; font-style: bold; font-family: 'Mali', cursive;">Fishery</h1>
          <p style="font-size: 20px; font-family: 'Mali', cursive;">Are you a fan of the beauty and tranquility of an aquarium? Our tiny fishery is dedicated to providing top-quality fish to enthusiasts and hobbyists alike. Our fish are bred and raised in a safe, and healthy environment, ensuring their growth and development is optimal. At the moment we only have Guppies available for sale, but we look forward to sharing our love of fish with you!</p>
          <div class="container d-flex justify-content-center align-items-center"><a href="/fish-farm/"><button class="btn btn-large btn-outline-light">Fish</button></a></div>
        </div>
      </div>
      <p style="font-size: 20px; font-family: 'Mali', cursive; color: rgb(255, 165, 165); margin-top: 20px; text-shadow: 0 0 0 10px;"><i class="fa-solid fa-circle-exclamation"></i> <b>We are thrilled to offer our rabbits & fish to our local community here in Lahore. At this time, we kindly ask that only customers within Lahore consider purchasing from our rabbitry, as we are not able to sell outside of our city. We believe in supporting our local community and providing the best possible care for our rabbits, and we thank you for your understanding. We look forward to welcoming you to our rabbitry! </b></p>   
    </div>
  </div>
</div>
<div class="div-3" style="background-color:rgb(255, 211, 154);">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="row" style="font-family: 'Mali', cursive;">
          <div class="col-1 mr-5">
            <button class="btn btn-medium btn-dark" style="height: 50px; width: 50px; border-radius: 40px;">
              <i class="fa-solid fa-syringe" style="font-size: 1.75rem; color: white;"></i>
            </button></div>
          <div class="col">
            <h3 class="mt-2">Vaccinated</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="row" style="font-family: 'Mali', cursive;">
          <div class="col-1 mr-5">
            <button class="btn btn-medium btn-dark" style="height: 50px; width: 50px; border-radius: 40px;">
              <i class="fa-solid fa-virus" style="font-size: 1.75rem; color: white;"></i>
            </button></div>
          <div class="col">
            <h3 class="mt-2">Clean Envirnoment</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="row" style="font-family: 'Mali', cursive;">
          <div class="col-1 mr-5">
            <button class="btn btn-medium btn-dark" style="height: 50px; width: 50px; border-radius: 40px;">
              <i class="fa-solid fa-shield-dog" style="font-size: 1.75rem; color: white;"></i>
            </button></div>
          <div class="col">
            <h3 class="mt-2">Predatory Safety</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="banner-2" style="color: white;">
  <div class="container">
    <div class="div-4">
      <h1 style="text-align: center; font-family: 'Cabin Sketch', cursive; font-size: 80px; font-style: bold;" class="pt-3 pb-2">How we started</h1>
      <div class="row">
        <div class="col-md-6">
          <p style="font-size: 20px; font-family: 'Mali', cursive;">​In 2019 we bought our first pair of New Zealand bunnies and fell in love! Shortly after we also started breeding Dwarf Hotots. Rabbits have been therapeutic pets to our family and we adore all their personalities! It's been an amazing journey with these buns and we are dedicated daily to providing the best care possible for our little furry friends! All our animals are fed natural Alfa Alfa Hay, as well as commercial pellets.</p>
        </div>
        <div class="col-md-6">
          <p style="font-size: 20px; font-family: 'Mali', cursive;">We are blessed to live here in the city of Lahore, that is the captial of the Punjaab, in Pakistan! We are a small family that decided to open a rabbitry on our rooftop where me and my children raise bunnies as well as fish. We are located in <b>Valencia town</b>. Pretty much the sub-urbs of Lahore <i class="fa-solid fa-face-smile-wink"></i>. </p>
        </div>
      </div>
      <p style="font-size: 20px; font-family: 'Mali', cursive;">We try to provide the best care to our bunnies with nutritional food, a clean, and cool environment.</p>   
    </div>
  </div>
</div>
<div class="div-3" style="background-color:rgb(99, 255, 93);">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="row" style="font-family: 'Mali', cursive;">
          <div class="col-1 mr-5">
            <button class="btn btn-medium btn-dark" style="height: 50px; width: 50px; border-radius: 40px;">
              <i class="fa-solid fa-phone" style="font-size: 1.75rem; color: white;"></i>
            </button></div>
          <div class="col">
            <h3 class="mt-2">Call us</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="row" style="font-family: 'Mali', cursive;">
          <div class="col-1 mr-5">
            <button class="btn btn-medium btn-dark" style="height: 50px; width: 50px; border-radius: 40px;">
              <i class="fa-brands fa-instagram" style="font-size: 1.75rem; color: white;"></i>
            </button></div>
          <div class="col">
            <h3 class="mt-2">DM us</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="row" style="font-family: 'Mali', cursive;">
          <div class="col-1 mr-5">
            <button class="btn btn-medium btn-dark" style="height: 50px; width: 50px; border-radius: 40px;">
              <i class="fa-solid fa-envelope" style="font-size: 1.75rem; color: white;"></i>
            </button></div>
          <div class="col">
            <h3 class="mt-2">Email us</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="div-5" style="background-color: rgb(160, 151, 151);">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-10">Copyright © 2023 The Rooftop Rabbitry. All rights reserved.</div>
      <div class="col-lg-2">
        <div class="container d-flex justify-content-end align-items-end"><a href="/contact-us/"><button class="btn btn-outline-dark">Contact Us</button></a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}