{% extends 'base2.html' %}

{% block content %}
<div class="container" style="padding-top: 70px; padding-bottom: 50px;">
    <div class="py-3" style="background-color: yellowgreen; border-radius: 20px;">
        <h1 class="text-center my-3" style="font-family: 'Cabin Sketch', cursive; font-size: 60px;">Welcome to the Fish section!</h1>
        <div class="container" style="font-family: 'Mali', cursive;">
            <h1 class="text-center my-3" style="font-family: 'Mali', cursive;">Micropoecilia Picta (Swamp Guppies)</h1>
            <p>Micropoecilia Picta, also known as Swamp Guppies, are a small freshwater fish species found in South America. They are known for their colorful and vibrant appearance, with males displaying bright blue and red coloration. They are relatively easy to care for and can be kept in community aquariums, although they prefer densely planted environments with lots of hiding places.</p>
        </div>
        <video controls class="video-player">
            <source src="../../static/images/9.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="info" style="text-align: center; font-family: 'Mali', cursive;">
            <h2>For Purchasing Info:</h2>
            <div>+92 *** ****** (phone number)</div>
            <div>*********@gmail.com (email address)</div>
            <div>@TheRooftopRabbitry (instagram)</div>
            <div>@the_rooftop_rabbitry (facebook)</div>
            <div style="color: red;">For Customers within Lahore, near Valencia Society.</div>
        </div>
    </div>
</div>
{% endblock %}